.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:white;
    box-shadow:0 2px 15px rgba(0,0,0,.08);
    z-index:1000;
}

.container{
    width:90%;
    max-width:1400px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 0;
}

.logo{

    display:flex;
    align-items:center;
    gap:15px;

}

.logo img{

    width:100px;
    height:100px;
    object-fit:contain;

}

.logo h2{

    color:#1565C0;
    font-size:24px;

}

.logo span{

    color:#64748B;
    font-size:13px;

}

nav{

    display:flex;
    align-items:center;
    gap:30px;

}

nav a{

    font-weight:500;
    color:#334155;
    transition:.3s;

}

nav a:hover{

    color:#1565C0;

}

.login-btn{

    padding:12px 24px;

    border:none;

    border-radius:30px;

    background:#1565C0;

    color:white;

    font-weight:600;

    transition:.3s;

}

.login-btn:hover{

    background:#0d4d91;

}
