<!--<header class="navbar">-->

<!--  <div class="container">-->

<!--    <div class="logo">-->

<!--      <img src="/assets/logo/hospital-logo.jpeg" alt="Saravana Hospital">-->
<!--      <div>-->
<!--        <h2>Saravana Hospital</h2>-->
<!--        <span>Advanced Urology & Multi-Speciality Care</span>-->
<!--      </div>-->

<!--    </div>-->

<!--    <nav class="nav-links">-->


<!--      <a href="#home">Home</a>-->

<!--      <a href="#about">About</a>-->

<!--      <a href="#departments">Departments</a>-->

<!--      <a href="#contact">Contact</a>-->

<!--      <button class="login-btn">-->
<!--        Staff Login-->
<!--      </button>-->

<!--    </nav>-->



<!--  </div>-->

<!--</header>-->

<header class="navbar">
  <div class="container">

    <div class="logo">
      <img src="/assets/logo/hospital-logo.jpeg" alt="Hospital">
      <div>
        <h2>Saravana Hospital</h2>
        <span>Advanced Urology & Multi-Speciality Care</span>
      </div>
    </div>

    <div class="menu-toggle" (click)="toggleMenu()">
      ☰
    </div>

    <nav [class.active]="menuOpen">
      <a href="#home" (click)="closeMenu()">Home</a>
      <a href="#about" (click)="closeMenu()">About</a>
      <a href="#departments" (click)="closeMenu()">Departments</a>
      <a href="#contact" (click)="closeMenu()">Contact</a>

      <button class="login-btn">
        Staff Login
      </button>
    </nav>

  </div>
</header>
